body {
  --bg-color: #FFFFFF;
  --bg-secondary-color: #E6E8EF;
  --text-color: #535670;
  --red-error: #D02F44;
  --red-error-light: #E3828F;
  --blue-light: #1E74EC;
  --blue-dark: #012C88;
  --blue-100: #03115F;
  --blue-90: #35417F;
  --blue-20: #CDCFDF;
  --pink-100: #79077B;
  --pink-80: #A960AB;
  --gray-80: #75788D;
  --gray-60: #989AA9;
  --gray-20: #DDDDE2;
  --gray-10: #EEEFF1;
  --base-font-size: 18px;
  --base-line-heignt: 22px;
  --font-size-secondary: 20px;
  --line-height-secondary:28px;
  --font-family-secondary: "Inter", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: var(--base-font-size);
  line-height: var(--base-line-heignt);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.wrapper {
  width: 100%;
}

.header {
  background-color: black;
  background-image: url(../img/main-hero-bg.png);
  background-size: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.logo-block {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.logo__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--gray-20);
}

.logo__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--gray-60);
}

nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
}
.header-nav li {
  list-style: none;
}

.header-controls:hover {
  cursor: pointer;
}

.portfolio-btns__blue, .portfolio-btns__contour, .btn-all, .about-btn__blue, .about-btn__contour, .hero-btn, .nav-item::after, .nav-item {
  transition: all 300ms ease;
}

.nav-item {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--gray-20);
}

.nav-item:hover {
  color: var(--gray-10);
}

.nav-item::after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  width: 0%;
  background-color: var(--gray-10);
  height: 1px;
}

.nav-item:hover::after {
  width: 100%;
}

.header-controls {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
}

h1 {
  margin: 0;
  padding-top: 157px;
  font-family: var(--font-family-secondary);
  font-size: 54px;
  line-height: 64px;
  letter-spacing: 0.02em;
  color: var(--gray-10);
}

.hero__text {
  padding-top: 24px;
  padding-bottom: 60px;
  font-size: 20px;
  line-height: 28px;
  color: var(--gray-20);
}

.hero-btn {
  background: var(--blue-light);
  border: none;
  outline: none;
  padding: 14px 40px 14px 40px;
}
.hero-btn:hover {
  cursor: pointer;
}
.hero-btn:active {
  transform: scale(95%);
}

.btn-blue {
  color: var(--gray-10);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.experience-items__years {
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 82px;
  text-transform: uppercase;
}

.section-title, .experience-items__text {
  font-weight: 325;
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
}

.hero__experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 40px;
  justify-content: space-evenly;
  padding-top: 136px;
  padding-bottom: 176px;
}

.experience-items {
  display: flex;
  flex-direction: column;
  color: var(--gray-10);
}
.experience-items__years {
  color: var(--gray-10);
  align-self: center;
}
.experience-items__text {
  color: var(--gray-10);
}

.about {
  padding-top: 180px;
  padding-bottom: 180px;
}

.section-title {
  color: var(--blue-90);
  padding-bottom: 24px;
}

.about-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.about__img img {
  height: auto;
  aspect-ratio: auto 947/640;
}

.advantages__title, .portfolio__title, .offers__title, .about__title {
  font-size: 54px;
  font-weight: 700;
  line-height: 60px;
  color: var(--blue-100);
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about__text {
  color: var(--gray-80);
}

.about__btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
}

.about-btn__contour {
  background-color: transparent;
  border: 2px solid var(--blue-light);
  padding: 14px 50px 14px 50px;
}
.about-btn__contour:hover {
  cursor: pointer;
}
.about-btn__contour:active {
  transform: scale(95%);
}

.btn-contour {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--blue-light);
}

.about-btn__blue {
  background: var(--blue-light);
  border: none;
  outline: none;
  padding: 14px 40px 14px 40px;
}
.about-btn__blue:hover {
  cursor: pointer;
}
.about-btn__blue:active {
  transform: scale(95%);
}

.section-title {
  color: var(--blue-90);
  padding-bottom: 24px;
}

.offers {
  padding-bottom: 180px;
}

.offers__title {
  padding-bottom: 24px;
}

.offers__text {
  padding-bottom: 64px;
  font-size: var(--font-family-secondary);
  line-height: var(--line-height-secondary);
  color: var(--gray-80);
}

.dev-cycle {
  padding-bottom: 64px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.cycle-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.cycle-item__title {
  font-size: 26px;
  font-weight: 325;
  line-height: 32px;
  color: var(--blue-dark);
}
.cycle-item__text {
  color: var(--gray-80);
}

.offers-btn-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.offers-btn {
  border: none;
  outline: none;
  background-color: transparent;
}

.btn-all {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--pink-80);
}

.btn-all:hover {
  color: var(--pink-100);
}

.portfolio {
  background-color: var(--bg-secondary-color);
  padding-bottom: 274px;
}

.portfolio-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title--portfolio {
  padding-top: 113px;
}

.portfolio__title {
  padding-bottom: 24px;
}

.portfolio__text {
  font-size: var(--font-size-secondary);
  line-height: var(--line-height-secondary);
  color: var(--gray-80);
  text-align: center;
}

.portfolio-card-row {
  position: relative;
  bottom: 210px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.portfolio-card__img img {
  width: 100%;
  height: auto;
}
.portfolio-card__link a {
  text-decoration: none;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: var(--blue-100);
}
.portfolio-card__text {
  color: var(--gray-80);
}

.portfolio-card-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  top: -170px;
}

.portfolio-btns__contour {
  background-color: transparent;
  border: 2px solid var(--blue-light);
  padding: 14px 50px 14px 50px;
}
.portfolio-btns__contour:hover {
  cursor: pointer;
}
.portfolio-btns__contour:active {
  transform: scale(95%);
}

.portfolio-btns__blue {
  background: var(--blue-light);
  border: none;
  outline: none;
  padding: 14px 40px 14px 40px;
}
.portfolio-btns__blue:hover {
  cursor: pointer;
}
.portfolio-btns__blue:active {
  transform: scale(95%);
}

.portfolio-btns {
  position: relative;
  top: -106px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.advantages {
  padding-top: 74px;
  padding-bottom: 180px;
}

.advantages__title {
  padding-bottom: 24px;
}

.advantages__text {
  font-size: var(--font-size-secondary);
  line-height: var(--line-height-secondary);
  color: var(--gray-80);
}

.advantages-row {
  padding-top: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantages-item__img {
  width: 100%;
  height: auto;
}
.advantages-item__title {
  font-size: var(--font-size-secondary);
  line-height: 32px;
  color: var(--blue-dark);
  font-weight: 500;
}
.advantages-item__text {
  color: var(--gray-80);
}

/*# sourceMappingURL=styles.css.map */
