body {
  --bg-color: #FFFFFF;
  --bg-secondary-color: #E6E8EF;
  --text-color: #535670;
  --black: #091245;
  --white: #FFF;
  --red-error: #D02F44;
  --red-error-light: #E3828F;
  --blue-light: #1E74EC;
  --blue-dark: #012C88;
  --blue-100: #03115F;
  --blue-90: #35417F;
  --blue-20: #CDCFDF;
  --pink-100: #79077B;
  --pink-80: #A960AB;
  --gray-80: #75788D;
  --gray-60: #989AA9;
  --gray-20: #DDDDE2;
  --gray-10: #EEEFF1;
  --base-font-size: 18px;
  --base-line-heignt: 22px;
  --font-size-secondary: 20px;
  --line-height-secondary:28px;
  --font-family-base: "Montserrat", sans-serif;
  --font-family-secondary: "Inter", sans-serif;
}

.portfolio-item__img img, .social-item img, .body-career-page .accordion-tab__short::after, .position-col__btn, .teams-btn, .teams-card, .confidentiality__link a,
.cookies__policy a, .footer-additionally__link, .footer-social__img svg, .footer-nav__item, .accordion-tab__short::after, .accordion-tab__short, .submit-btn__blue, .submit-block__link a, .input-aria textarea::placeholder, .input-aria textarea, .labeled-input-container input::placeholder, .labeled-input-container input, .contact-info__img svg, .portfolio-btns__blue, .portfolio-btns__contour, .portfolio-card__img img, .btn-all, .about-btn__blue, .about-btn__contour, .hero-btn, .nav-item::after, .nav-item {
  transition: all 300ms ease;
}

.experience-items__years {
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 82px;
  text-transform: uppercase;
}

.vacancies-row__title, .position-col__title, .teams__title, .faq__title, .conttact-col__title, .clients-title, .advantages__title, .portfolio__title, .offers__title, .about__title {
  font-size: 54px;
  font-weight: 700;
  line-height: 60px;
  color: var(--blue-100);
}

.position-col__name, .accordion-tab__short, .contact-info__title, .contact-col__name, .section-title, .experience-items__text {
  font-weight: 325;
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
}

.teams-card__job, .footer-additionally__dev, .slovenia-info__contact, .russia-info__contact, .form-block__text, .contact-info__desc {
  font-size: 16px;
  font-weight: 325;
  line-height: 22px;
}

.portfolio-item__link a {
  font-size: 22px;
  font-weight: 350;
  line-height: 32px;
}

.full-row__title, .teams-card__name, .slovenia-info__title, .russia-info__title, .russia-block__title, .slovenia-block__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.form-block__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.submit-block__text, .text-required {
  font-size: 11px;
  line-height: 20px;
}

.body-portfolio-page .position-col__text, .portfolio-item__text, .vacancies-row__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 325;
  line-height: 28px;
}

@media (max-width: 576px) {
  .experience-items__years {
    font-size: 56px;
    font-weight: 700;
    line-height: normal;
  }
  .vacancies-row__title, .position-col__title, .teams__title, .faq__title, .conttact-col__title, .clients-title, .advantages__title, .portfolio__title, .offers__title, .about__title {
    font-size: 30px;
    line-height: 32px;
  }
  .position-col__name, .accordion-tab__short, .contact-info__title, .contact-col__name, .section-title, .experience-items__text {
    font-size: 20px;
    font-weight: 325;
    line-height: 24px;
  }
  .teams-card__job, .footer-additionally__dev, .slovenia-info__contact, .russia-info__contact, .form-block__text, .contact-info__desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
  .portfolio-item__link a {
    font-size: 18px;
    line-height: 22px;
  }
  .full-row__title, .teams-card__name, .slovenia-info__title, .russia-info__title, .russia-block__title, .slovenia-block__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.24px;
  }
  .submit-block__text, .text-required {
    font-size: 11px;
    line-height: 14px;
  }
  .body-portfolio-page .position-col__text, .portfolio-item__text, .vacancies-row__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: var(--base-font-size);
  line-height: var(--base-line-heignt);
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.lock {
  overflow: hidden;
}

@media (max-width: 576px) {
  body {
    --base-font-size: 12px;
    --base-line-heignt: 16px;
    --font-size-secondary: 14px;
    --line-height-secondary: 20px;
  }
}
.wrapper {
  width: 100%;
}

.header {
  background-color: black;
  background-image: url(../img/main-hero-bg.png);
  background-size: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.mobile-menu {
  display: none;
}

.mobile-menu.visible {
  display: block;
}

@keyframes show {
  from {
    opacity: 0.8;
    right: -350px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
.mobile-menu-row {
  min-height: 570px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: var(--white);
  padding: 37px 33px 90px 30px;
  border: 1px solid #DDDDE2;
  transition: all 300ms ease;
  animation: 500ms show ease;
}

.mobile-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 94px;
}

.controls-icon {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#close-menu-btn {
  background-color: transparent;
  border: none;
}
#close-menu-btn img {
  width: 26px;
  height: auto;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0;
}
.mobile-nav li {
  list-style-type: none;
}
.mobile-nav__item {
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.menu-social-one,
.menu-social-two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.logo-block {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.logo__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--gray-20);
}

.logo__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--gray-60);
}

nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
}
.header-nav li {
  list-style: none;
}

.header-controls:hover {
  cursor: pointer;
}

.portfolio-item__img img, .social-item img, .body-career-page .accordion-tab__short::after, .position-col__btn, .teams-btn, .teams-card, .confidentiality__link a,
.cookies__policy a, .footer-additionally__link, .footer-social__img svg, .footer-nav__item, .accordion-tab__short::after, .accordion-tab__short, .submit-btn__blue, .submit-block__link a, .input-aria textarea::placeholder, .input-aria textarea, .labeled-input-container input::placeholder, .labeled-input-container input, .contact-info__img svg, .portfolio-btns__blue, .portfolio-btns__contour, .portfolio-card__img img, .btn-all, .about-btn__blue, .about-btn__contour, .hero-btn, .nav-item::after, .nav-item {
  transition: all 300ms ease;
}

.nav-item {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--gray-20);
}

.nav-item:hover {
  color: var(--gray-10);
}

.nav-item::after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  width: 0%;
  background-color: var(--gray-10);
  height: 1px;
}

.nav-item:hover::after {
  width: 100%;
}

.body-main-page .header-nav > li:first-child {
  font-weight: 700;
}

.header-controls {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
}

#open-menu-btn {
  display: none;
  background-color: transparent;
  border: none;
}
#open-menu-btn img {
  width: 33px;
  height: auto;
}

h1 {
  margin: 0;
  padding-top: 157px;
  font-family: var(--font-family-secondary);
  font-size: 54px;
  line-height: 64px;
  letter-spacing: 0.02em;
  color: var(--gray-10);
}

.hero__text {
  padding-top: 24px;
  padding-bottom: 60px;
  font-size: 20px;
  line-height: 28px;
  color: var(--gray-20);
}

.hero-btn {
  font-family: "Montserrat", sans-serif;
  background: var(--blue-light);
  border: none;
  outline: none;
  padding: 14px 40px 14px 40px;
}
.hero-btn:hover {
  cursor: pointer;
}
.hero-btn:active {
  transform: scale(95%);
}

.btn-blue {
  color: var(--gray-10);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.experience-items__years {
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 82px;
  text-transform: uppercase;
}

.position-col__name, .accordion-tab__short, .contact-info__title, .contact-col__name, .section-title, .experience-items__text {
  font-weight: 325;
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
}

@media (max-width: 576px) {
  .experience-items__years {
    font-size: 56px;
    font-weight: 700;
    line-height: normal;
  }
  .position-col__name, .accordion-tab__short, .contact-info__title, .contact-col__name, .section-title, .experience-items__text {
    font-size: 20px;
    font-weight: 325;
    line-height: 24px;
  }
}
.hero__experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 40px;
  justify-content: space-evenly;
  padding-top: 136px;
  padding-bottom: 176px;
}

.experience-items {
  display: flex;
  flex-direction: column;
  color: var(--gray-10);
}
.experience-items__years {
  color: var(--gray-10);
  align-self: center;
}
.experience-items__text {
  color: var(--gray-10);
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  #open-menu-btn {
    display: block;
  }
}
@media (max-width: 576px) {
  .header {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
  }
  .logo__title {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
  }
  .logo__description {
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
  }
  .hero__block {
    padding-bottom: 80px;
  }
  h1 {
    padding-top: 80px;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.72px;
  }
  .hero__text {
    padding-bottom: 40px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .hero-btn {
    display: block;
    margin: 0 auto;
    padding: 14px 114px 14px 114px;
    border-radius: 8px;
  }
  .header-block > .hero__experience {
    display: none;
  }
  .hero__experience {
    padding-top: 53px;
    padding-bottom: 106px;
    background-color: var(--blue-100);
  }
}
.body-main-page .experience {
  display: none;
}

.about {
  padding-top: 180px;
  padding-bottom: 180px;
}

.section-title {
  color: var(--blue-90);
  padding-bottom: 24px;
}

.about-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.about__img {
  flex: 2 1;
}
.about__img img {
  width: 100%;
  height: auto;
  aspect-ratio: auto 947/640;
}

.vacancies-row__title, .position-col__title, .teams__title, .faq__title, .conttact-col__title, .clients-title, .advantages__title, .portfolio__title, .offers__title, .about__title {
  font-size: 54px;
  font-weight: 700;
  line-height: 60px;
  color: var(--blue-100);
}

@media (max-width: 576px) {
  .vacancies-row__title, .position-col__title, .teams__title, .faq__title, .conttact-col__title, .clients-title, .advantages__title, .portfolio__title, .offers__title, .about__title {
    font-size: 30px;
    line-height: 32px;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1;
}

.about__text {
  color: var(--gray-80);
}

.about__btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
}

.about-btn__contour {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  border: 2px solid var(--blue-light);
  padding: 14px 50px 14px 50px;
}
.about-btn__contour:hover {
  cursor: pointer;
  background-color: var(--blue-light);
}
.about-btn__contour:hover .btn-contour {
  color: var(--gray-10);
}
.about-btn__contour:active {
  transform: scale(95%);
}

.btn-contour {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--blue-light);
}

.about-btn__blue {
  font-family: "Montserrat", sans-serif;
  background: var(--blue-light);
  border: none;
  outline: none;
  padding: 14px 40px 14px 40px;
}
.about-btn__blue:hover {
  cursor: pointer;
}
.about-btn__blue:active {
  transform: scale(95%);
}

.section-title {
  color: var(--blue-90);
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .about {
    padding-top: 40px;
  }
  .about-row {
    flex-wrap: wrap;
  }
  .about__img,
  .about__content {
    flex: 1 1 auto;
  }
  .about__btns {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .body-main-page .experience {
    display: block;
  }
  .body-main-page .experience > .container {
    padding-left: 0;
    padding-right: 0;
  }
  .about {
    padding-bottom: 88px;
  }
  .about__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .about__btns {
    justify-content: flex-end;
  }
  .about-btn__contour {
    display: none;
  }
  .about-btn__blue {
    background-color: transparent;
  }
  .about-btn__blue > .btn-blue {
    color: var(--blue-light);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }
}
.offers {
  padding-bottom: 180px;
}

.offers__title {
  padding-bottom: 24px;
}

.offers__text {
  padding-bottom: 64px;
  font-size: var(--font-family-secondary);
  line-height: var(--line-height-secondary);
  color: var(--gray-80);
}

.dev-cycle {
  padding-bottom: 64px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.cycle-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.cycle-item__title {
  font-size: 26px;
  font-weight: 325;
  line-height: 32px;
  color: var(--blue-dark);
}
.cycle-item__text {
  color: var(--gray-80);
}

.offers-btn-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.offers-btn {
  border: none;
  outline: none;
  background-color: transparent;
}

.btn-all {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--pink-80);
}

.btn-all:hover {
  color: var(--pink-100);
}

@media (max-width: 922px) {
  .dev-cycle {
    justify-content: center;
  }
  .cycle-item {
    justify-content: center;
    align-items: center;
  }
  .offers-btn-row {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .offers {
    padding-bottom: 80px;
  }
  .offers__text {
    padding-bottom: 40px;
  }
  .dev-cycle {
    gap: 80px;
    padding-bottom: 80px;
  }
  .offers-btn {
    border: 2px solid var(--blue-light);
    padding: 8px 16px;
  }
  .btn-all {
    color: var(--blue-light);
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .offers-btn-img {
    display: none;
  }
}
.portfolio {
  background-color: var(--bg-secondary-color);
  padding-bottom: 274px;
}

.portfolio-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title--portfolio {
  padding-top: 113px;
}

.portfolio__title {
  padding-bottom: 24px;
}

.portfolio__text {
  font-size: var(--font-size-secondary);
  line-height: var(--line-height-secondary);
  color: var(--gray-80);
  text-align: center;
}

.portfolio-card-row {
  position: relative;
  bottom: 210px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.portfolio-card__img {
  overflow: hidden;
}
.portfolio-card__img img {
  width: 100%;
  height: auto;
}
.portfolio-card__img img:hover {
  transform: scale(115%);
}
.portfolio-card__link a {
  text-decoration: none;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: var(--blue-100);
}
.portfolio-card__text {
  color: var(--gray-80);
}

.portfolio-card-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  top: -170px;
}

.portfolio-btns__contour {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  border: 2px solid var(--blue-light);
  padding: 14px 50px 14px 50px;
}
.portfolio-btns__contour:hover {
  cursor: pointer;
  background-color: var(--blue-light);
}
.portfolio-btns__contour:hover .btn-contour {
  color: var(--gray-10);
}
.portfolio-btns__contour:active {
  transform: scale(95%);
}

.portfolio-btns__blue {
  font-family: "Montserrat", sans-serif;
  background: var(--blue-light);
  border: none;
  outline: none;
  padding: 14px 40px 14px 40px;
}
.portfolio-btns__blue:hover {
  cursor: pointer;
}
.portfolio-btns__blue:active {
  transform: scale(95%);
}

.portfolio-btns {
  position: relative;
  top: -106px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

@media (max-width: 1479px) {
  .portfolio-card-second {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .portfolio-row {
    align-items: flex-start;
  }
  .portfolio-card-row {
    justify-content: center;
  }
  .portfolio__text {
    text-align: left;
  }
}
@media (max-width: 576px) {
  .section-title--portfolio {
    padding-top: 40px;
  }
  .portfolio-card-row {
    gap: 80px;
  }
  .portfolio-card__link a {
    font-size: 18px;
    line-height: 22px;
  }
  .portfolio-card-second {
    display: none;
  }
  .portfolio-btns {
    flex-direction: column-reverse;
    gap: 16px;
  }
  .portfolio-btns__contour {
    border: none;
  }
}
.advantages {
  padding-top: 74px;
  padding-bottom: 180px;
}

.advantages__title {
  padding-bottom: 24px;
}

.advantages__text {
  font-size: var(--font-size-secondary);
  line-height: var(--line-height-secondary);
  color: var(--gray-80);
}

.advantages-row {
  padding-top: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantages-item__img {
  width: 100%;
  height: auto;
}
.advantages-item__title {
  font-size: var(--font-size-secondary);
  line-height: 32px;
  color: var(--blue-dark);
  font-weight: 500;
}
.advantages-item__text {
  color: var(--gray-80);
}

@media (max-width: 922px) {
  .advantages-row {
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .advantages {
    padding-top: 14px;
    padding-bottom: 80px;
  }
  .advantages-row {
    padding-top: 40px;
    gap: 64px;
  }
}
.clients {
  padding-bottom: 180px;
}

.clients-title {
  padding-bottom: 64px;
  text-align: center;
}

.clients-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}

.clients-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

@media (max-width: 576px) {
  .clients-item:last-child {
    display: none;
  }
}
@media (max-width: 576px) {
  .clients {
    padding-bottom: 80px;
  }
  .clients-title {
    padding-bottom: 40px;
  }
}
.contact-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-preview {
  background-image: url(../img/main-contact-bg.jpg);
  background-size: cover;
  padding-top: 110px;
  padding-bottom: 267px;
}

.contact-col__name {
  color: var(--gray-10);
}

.conttact-col__title {
  color: var(--gray-10);
}

.contact-row {
  position: relative;
  bottom: 227px;
  background-color: var(--gray-10);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 110px;
}

.contact-info {
  max-width: 578px;
  padding: 64px 40px 51px 40px;
  background-color: var(--blue-dark);
}

.contact-info__text {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 26px;
}

.contact-info__title {
  color: var(--gray-20);
}

.teams-card__job, .footer-additionally__dev, .slovenia-info__contact, .russia-info__contact, .form-block__text, .contact-info__desc {
  font-size: 16px;
  font-weight: 325;
  line-height: 22px;
}

.full-row__title, .teams-card__name, .slovenia-info__title, .russia-info__title, .russia-block__title, .slovenia-block__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.form-block__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.submit-block__text, .text-required {
  font-size: 11px;
  line-height: 20px;
}

@media (max-width: 576px) {
  .teams-card__job, .footer-additionally__dev, .slovenia-info__contact, .russia-info__contact, .form-block__text, .contact-info__desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
  .full-row__title, .teams-card__name, .slovenia-info__title, .russia-info__title, .russia-block__title, .slovenia-block__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.24px;
  }
  .submit-block__text, .text-required {
    font-size: 11px;
    line-height: 14px;
  }
}
.contact-info__desc {
  color: var(--gray-20);
  border-bottom: 2px solid var(--gray-80);
  padding-bottom: 24px;
}

.contact-info__contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 38px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.slovenia-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.slovenia-block__title {
  color: var(--gray-20);
}
.slovenia-block__contact {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--gray-10);
}

.russia-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.russia-block__title {
  color: var(--gray-20);
}
.russia-block__contact {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--gray-10);
}

.contact-info__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  border-top: 2px solid var(--gray-80);
  padding-top: 40px;
}

.contact-info__img svg:hover {
  transform: scale(115%);
}

.form-block__title {
  color: var(--blue-100);
}

.form-block__text {
  color: var(--gray-80);
  padding-top: 26px;
}

.labeled-input-container {
  position: relative;
  padding-top: 15px;
}

.labeled-input-container input {
  padding: 16px 238px 16px 16px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.labeled-input-container input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: var(--gray-80);
}

.labeled-input-container input:focus {
  outline: 1px solid var(--blue-light);
}

.labeled-input-container input:focus::placeholder {
  font-size: 12px;
  transform: translateY(-12px);
}

.input-aria {
  padding-top: 15px;
}

.input-aria textarea {
  padding: 16px 238px 62px 16px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.input-aria textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: var(--gray-80);
}

.input-aria textarea:focus {
  outline: 1px solid var(--blue-light);
}

.input-aria textarea:focus::placeholder {
  font-size: 12px;
  transform: translateY(-12px);
}

.text-required {
  color: var(--gray-80);
  padding-top: 16px;
}

.text-required-red {
  color: var(--red-error);
}

.submit-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  gap: 10px;
}
.submit-block__text {
  color: var(--gray-60);
}
.submit-block__link a {
  color: var(--pink-80);
}
.submit-block__link a:hover {
  color: var(--pink-100);
}

.submit-btn__blue {
  font-family: "Montserrat", sans-serif;
  background: var(--blue-light);
  border: none;
  outline: none;
  padding: 14px 50px 14px 50px;
  color: var(--gray-10);
  font-size: 16px;
  letter-spacing: 0.32px;
}
.submit-btn__blue:hover {
  cursor: pointer;
}
.submit-btn__blue:active {
  transform: scale(95%);
}

@media (max-width: 1402px) {
  .contact-row {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .contact-row {
    position: static;
    padding: 0;
  }
  .form-block__title {
    padding-top: 40px;
  }
}
@media (max-width: 576px) {
  .contact-preview {
    padding-top: 40px;
    padding-bottom: 72px;
  }
  .contact {
    background-color: var(--gray-10);
  }
  .contact-row {
    background-color: transparent;
  }
  .contact-info__social {
    width: 100%;
    gap: 5px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .form-block__title {
    display: none;
  }
  .form-block__text {
    display: none;
  }
  .survey_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 16px;
  }
  .labeled-input-container {
    padding-top: 0;
  }
  .labeled-input-container input {
    padding: 16px 140px 16px 16px;
  }
  .input-aria {
    padding: 0;
  }
  .input-aria textarea {
    padding: 16px 140px 62px 16px;
  }
  .text-required {
    display: none;
  }
  .submit-block__text {
    display: none;
  }
  .submit-btn__blue {
    border-radius: 8px;
    padding: 14px 120px 14px 120px;
  }
}
@media (max-width: 375px) {
  .labeled-input-container input {
    padding: 16px 80px 16px 16px;
  }
  .input-aria textarea {
    padding: 16px 80px 62px 16px;
  }
  .submit-btn__blue {
    border-radius: 8px;
    padding: 14px 120px 14px 120px;
  }
  .submit-btn__blue {
    padding: 14px 95px 14px 95px;
  }
}
.faq {
  padding-bottom: 180px;
}

.faq__title {
  padding-bottom: 64px;
}

.accordion-tab {
  border-bottom: 2px solid var(--gray-20);
  padding-top: 25px;
  padding-bottom: 25px;
}
.accordion-tab__short {
  display: flex;
  justify-content: space-between;
  color: var(--gray-80);
}
.accordion-tab__short:hover {
  cursor: pointer;
  color: var(--blue-100);
}
.accordion-tab__full {
  color: var(--gray-60);
  max-height: 0;
  overflow: hidden;
}
.accordion-tab__full p {
  margin: 0;
  padding-top: 22px;
  padding-right: 350px;
}

.accordion-tab__short::after {
  content: url("../img/accord-open.svg");
}

.accordion-tab--open .accordion-tab__short::after {
  transform: rotate(45deg);
}

.accordion-tab--open .accordion-tab__full {
  max-height: 100vh;
}

@media (max-width: 768px) {
  .faq {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .accordion-tab__full p {
    padding-right: 50px;
  }
}
@media (max-width: 576px) {
  .faq__title {
    padding-bottom: 30px;
  }
}
.footer {
  padding-top: 64px;
  padding-bottom: 22px;
  background-color: var(--blue-100);
}

.footer-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 156px;
  flex-wrap: wrap;
  width: 100%;
}
.footer-block__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 1;
  gap: 20px;
}

.russia-info__title {
  color: var(--gray-10);
}
.russia-info__contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  color: var(--gray-10);
}

.slovenia-info__title {
  color: var(--gray-10);
}
.slovenia-info__contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  color: var(--gray-10);
}

.footer-block__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1;
  flex-wrap: wrap;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}
.footer-nav li {
  list-style-type: none;
}
.footer-nav__item {
  text-decoration: none;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: var(--gray-20);
}
.footer-nav__item:hover {
  color: var(--white);
}

.social-block {
  display: none;
  width: 100%;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-social__img svg:hover {
  transform: scale(115%);
}

.footer-additionally {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 72px;
}
.footer-additionally__dev {
  color: var(--gray-10);
}
.footer-additionally__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  padding-right: 270px;
}
.footer-additionally__link a:hover {
  color: var(--white);
}

.confidentiality__link {
  border-right: 2px solid var(--gray-60);
  padding-right: 32px;
}

.confidentiality__link a,
.cookies__policy a {
  color: var(--gray-20);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-additionally {
    gap: 10px;
  }
  .footer-additionally__link {
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 0;
  }
  .confidentiality__link {
    border: none;
  }
}
@media (max-width: 576px) {
  .footer-block {
    gap: 20px;
  }
  .footer-block__info {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .footer-block__nav {
    gap: 20px;
  }
}
@media (max-width: 576px) and (max-width: 410px) {
  .footer-nav:nth-child(3) {
    display: none;
  }
  .social-block {
    display: block;
  }
  .footer-additionally {
    padding-top: 40px;
  }
  .footer-additionally__dev {
    display: none;
  }
  .footer-additionally__link {
    justify-content: center;
    text-align: center;
  }
  .confidentiality__link a {
    color: var(--pink-80);
    text-decoration-line: underline;
  }
}
.body-team-page .header-wrapper {
  background-color: black;
  background-image: url(../img/team-hero-bg-jpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body-team-page header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  background: none;
}

.body-team-page .header-nav > li:nth-child(3) {
  font-weight: 700;
}

.body-team-page .hero__block {
  padding-top: 110px;
  padding-bottom: 156px;
}

.body-team-page .section-title {
  color: var(--blue-20);
  padding-bottom: 10px;
}

.body-team-page h1 {
  padding-top: 0;
  padding-bottom: 16px;
}

.body-team-page .hero__text {
  padding-bottom: 0;
  padding-top: 0;
  font-size: var(--base-font-size);
}

@media (max-width: 576px) {
  .body-team-page .hero__block {
    padding-top: 80px;
    padding-bottom: 84px;
  }
  .body-team-page .section-title {
    padding-bottom: 4px;
  }
}
.teams {
  padding-top: 180px;
  padding-bottom: 180px;
}

.teams-row__one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.teams-row__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.teams__text {
  color: var(--gray-80);
  font-size: var(--font-size-secondary);
  line-height: var(--line-height-secondary);
}

.teams__gallary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  flex: 1 1;
}

.teams-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.teams-card__img {
  position: relative;
}
.teams-card__img::after {
  position: absolute;
  content: url(../img/bx_bxl-linkedin.svg);
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  transform: translate(-24px, 24px);
}
.teams-card__img img {
  width: 100%;
  height: auto;
  aspect-ratio: auto 330/330;
}
.teams-card__name {
  color: var(--blue-100);
}
.teams-card__job {
  color: var(--gray-80);
}

.teams-card:hover {
  transform: scale(105%);
}

.teams-row__second {
  padding-top: 78px;
}

.teams-row__second.active {
  display: block;
}

.teams-row__third {
  padding-top: 78px;
}
.teams-row__third .teams__gallary {
  justify-content: flex-start;
  gap: 40px;
}

.teams-buttons {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.teams-buttons.hidden {
  display: none;
}

.teams-btn {
  border: 2px solid var(--blue-light);
  padding: 8px 16px;
  background-color: transparent;
}
.teams-btn:hover {
  cursor: pointer;
}
.teams-btn:active {
  transform: scale(95%);
}

.teams-btn-all {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  color: var(--blue-light);
  text-decoration: none;
  text-align: center;
}

@media (max-width: 1475px) {
  .teams__gallary {
    flex: 0 0 auto;
    width: 100%;
    justify-content: center;
    gap: 40px;
  }
  .teams-row__third .teams__gallary {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .teams {
    padding-top: 80px;
    padding-bottom: 88px;
  }
  .teams-row__second {
    display: none;
    padding-top: 40px;
  }
  .teams-row__third {
    padding-top: 40px;
  }
  .teams-card {
    gap: 8px;
  }
  .teams-buttons {
    display: flex;
  }
}
.open-position {
  background-image: url(../img/team-position-bg.jpg);
  background-size: cover;
  padding-top: 348px;
  padding-bottom: 252px;
}

.position-col__name {
  color: var(--gray-20);
  padding-bottom: 8px;
}
.position-col__title {
  color: var(--gray-10);
  padding-bottom: 64px;
}
.position-col__btn {
  font-family: "Montserrat", sans-serif;
  background: var(--blue-light);
  border: none;
  outline: none;
  padding: 14px 40px 14px 40px;
}
.position-col__btn:hover {
  cursor: pointer;
}
.position-col__btn:active {
  transform: scale(95%);
}

@media (max-width: 576px) {
  .open-position {
    padding-top: 80px;
    padding-bottom: 64px;
    background-image: url(../img/team-position-bg-mobile.jpg);
  }
  .position-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .position-col__title {
    text-align: center;
    padding-bottom: 40px;
  }
  .position-col__btn {
    border-radius: 8px;
    padding: 14px 119px 14px 119px;
  }
}
.body-career-page .header-wrapper {
  background-color: black;
  background-image: url(../img/career-bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body-career-page header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  background: none;
}

.body-career-page .header-nav > li:nth-child(7) {
  font-weight: 700;
}

.body-career-page .hero__block {
  padding-top: 110px;
  padding-bottom: 158px;
}

.body-career-page h1 {
  padding-top: 0;
  font-family: var(--font-family-base);
  padding-bottom: 16px;
}

.body-career-page .hero__text {
  padding-top: 0;
  padding-bottom: 64px;
  font-size: var(--base-font-size);
}

@media (max-width: 576px) {
  .body-career-page .hero__block {
    padding-top: 80px;
    padding-bottom: 64px;
  }
}
.career-vacancies {
  padding-top: 180px;
  padding-bottom: 175px;
}

.vacancies-row {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 36px;
}
.vacancies-row__text {
  color: var(--gray-80);
  max-width: 821px;
}

.body-career-page .accordion-tab {
  padding-top: 40px;
  padding-bottom: 40px;
}

.body-career-page .accordion-tab__short {
  gap: 10px;
}

.body-career-page .accordion-tab__short::after {
  content: url(../img/accord-open-chevron.svg);
  transform: rotate(-90deg);
}

.body-career-page .accordion-tab--open .accordion-tab__short::after {
  transform: rotate(0deg);
}

.full-content {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

.full-row__title {
  color: var(--blue-90);
}
.full-row__skills {
  padding-top: 10px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.full-row__text {
  padding-top: 10px;
}
.full-row__social {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  padding-left: 3px;
}

.skills-item {
  padding: 12px 14px 12px 14px;
  background-color: var(--bg-secondary-color);
  border-radius: 4px;
}

.text-list {
  padding-bottom: 10px;
  color: var(--gray-80);
}

.text-list:last-child {
  padding-bottom: 0;
}

.text-list::before {
  content: url(../img/ellipse-blue.svg);
  position: relative;
  bottom: 4px;
  padding-right: 15px;
}

.social-item img {
  aspect-ratio: auto 32/32;
  width: 100%;
  height: auto;
}

.social-item img:hover {
  transform: scale(115%);
}

.body-portfolio-page .header-wrapper {
  background-color: black;
  background-image: url(../img/portfolio-bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body-portfolio-page header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  background: none;
}

.body-portfolio-page .header-nav > li:nth-child(9) {
  font-weight: 700;
}

.body-portfolio-page .hero__block {
  padding-top: 110px;
  padding-bottom: 166px;
}

.body-portfolio-page h1 {
  padding-top: 0;
  padding-bottom: 16px;
}

.body-portfolio-page .hero__text {
  padding-top: 0;
  padding-bottom: 64px;
  font-size: var(--base-font-size);
}

@media (max-width: 576px) {
  .body-portfolio-page .hero__block {
    padding-top: 80px;
    padding-bottom: 64px;
  }
}
.portfolio-gallary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 80px;
}

.portfolio-portfolio {
  padding-top: 180px;
  padding-bottom: 100px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.portfolio-item__img {
  overflow: hidden;
}
.portfolio-item__img img {
  width: 100%;
  height: auto;
  aspect-ratio: auto 700/800;
}
.portfolio-item__img img:hover {
  transform: scale(105%);
}
.portfolio-item__link a {
  text-decoration: none;
  color: var(--blue-90);
  font-weight: 500;
}
@media (max-width: 1499px) {
  .portfolio-gallary {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .portfolio-portfolio {
    padding-top: 80px;
    padding-bottom: 16px;
  }
  .portfolio-gallary {
    padding-bottom: 64px;
    gap: 64px;
  }
  .portfolio-item {
    align-items: center;
  }
}
.have-idea {
  background-image: url(../img/portfolio-bg-have-idea.jpg);
  background-size: cover;
  padding-top: 243px;
  padding-bottom: 244px;
}

.body-portfolio-page .position-col__title {
  padding-bottom: 24px;
}

.body-portfolio-page .position-col__text {
  color: var(--gray-20);
  padding-bottom: 24px;
}

@media (max-width: 576px) {
  .have-idea {
    padding-top: 80px;
    padding-bottom: 64px;
    background-position: center;
  }
  .body-portfolio-page .position-col__name {
    align-self: flex-start;
  }
  .body-portfolio-page .position-col__title {
    align-self: flex-start;
  }
  .body-portfolio-page .position-col__text {
    align-self: flex-start;
  }
  .body-portfolio-page .position-col__title {
    padding-bottom: 16px;
  }
  .body-portfolio-page .position-col__text {
    padding-bottom: 40px;
  }
}
.body-contacts-page .header-wrapper {
  background-color: black;
  background-image: url(../img/contact-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body-contacts-page header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  background: none;
}

.body-contacts-page .header-nav > li:last-child {
  font-weight: 700;
}

.body-contacts-page .hero__block {
  padding-top: 110px;
  padding-bottom: 272px;
}

.body-contacts-page .section-title {
  color: var(--blue-20);
  padding-bottom: 10px;
}

.body-contacts-page h1 {
  padding-top: 0;
  font-family: var(--font-family-base);
}

@media (max-width: 576px) {
  .body-contacts-page .header-wrapper {
    background-image: url(../img/contact-hero-bg-mob.jpg);
  }
  .body-contacts-page .hero__block {
    padding-top: 80px;
    padding-bottom: 82px;
  }
}
.body-contacts-page .contact-row {
  align-items: flex-start;
  bottom: 180px;
}

.body-contacts-page .contact-info__text {
  padding-top: 0;
}

@media (max-width: 1402px) {
  .body-contacts-page .contact-row {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .body-contacts-page .contact-row {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 64px;
    padding-left: 0;
  }
}
@media (max-width: 576px) {
  .body-contacts-page .contact > .container {
    padding-left: 0;
    padding-right: 0;
  }
  .body-contacts-page .contact-info {
    max-width: 100%;
  }
  .body-contacts-page .contact-info {
    padding: 40px 16px 40px 16px;
  }
  .body-contacts-page .contact-info__social {
    justify-content: space-around;
  }
  .body-contacts-page .form-block__text {
    display: block;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 0;
  }
  .body-contacts-page .text-required {
    display: flex;
    align-self: flex-start;
    padding-left: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
