.body-career-page .header-wrapper {
    background-color: black;
        background-image: url(../img/career-bg-header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}

.body-career-page header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    background: none;
}

.body-career-page .header-nav > li:nth-child(7) {
    font-weight: 700;
}

.body-career-page .hero__block {
    padding-top: 110px;
    padding-bottom: 158px;
}

.body-career-page h1 {
    padding-top: 0;
    font-family: var(--font-family-base);
    padding-bottom: 16px;
}

.body-career-page .hero__text {
    padding-top: 0;
    padding-bottom: 64px;
    font-size: var(--base-font-size);
}

@media (max-width:576px) {
    .body-career-page .hero__block {
        padding-top: 80px;
        padding-bottom: 64px;
    }
}

.career-vacancies {
    padding-top: 180px;
    padding-bottom: 175px;
}

.vacancies-row {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 36px;

    &__title {
        @extend %H1-M;
    }

    &__text {
        @extend %TXT-L;
        color: var(--gray-80);
        max-width: 821px;
    }
}

.body-career-page .accordion-tab {
    padding-top: 40px;
    padding-bottom: 40px;
}

.body-career-page .accordion-tab__short {
    gap: 10px;
}

.body-career-page .accordion-tab__short::after {
    content: url(../img/accord-open-chevron.svg);
    transform: rotate(-90deg);
    @extend %transition;
}

.body-career-page .accordion-tab--open .accordion-tab__short::after {
    transform: rotate(0deg);
}

.full-content {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}


.full-row {

    &__title {
        @extend %H6;
        color: var(--blue-90);
    }

    &__skills {
        padding-top: 10px;
        display: inline-flex;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
    }

    &__text {
        padding-top: 10px;
    }

    &__social {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        gap: 24px;
        padding-left: 3px;
    }
}

.skills-item {
    padding: 12px 14px 12px 14px;
    background-color: var(--bg-secondary-color);
    border-radius: 4px;
}

.text-list {
    padding-bottom: 10px;
    color: var(--gray-80);
}

.text-list:last-child {
    padding-bottom: 0;
}

.text-list::before {
    content: url(../img/ellipse-blue.svg);
    position: relative;
    bottom: 4px;
    padding-right: 15px;
}

.social-item img {
    aspect-ratio: auto 32 / 32;
    width: 100%;
    height: auto;
    @extend %transition;
}

.social-item img:hover {
    transform: scale(115%);
}

.possibilities {
    background-image: url(../img/career-possib-bg.jpg);
    background-size: cover;
    padding-top: 112px;
    padding-bottom: 504px;

}

.possibilities-col {

    &__name {
        @extend %H4;
        color: var(--bg-secondary-color);
        padding-bottom: 10px;
    }

    &__title {
        @extend %H1-M;
        color: var(--gray-10);
        padding-bottom: 24px
    }

    &__text {
        @extend %TXT-L;
        color: var(--gray-10);
        max-width: 996px;
    }
}

.possibilities-form {
    margin-bottom: -290px;
}

.possibilities-row {
    position: relative;
    bottom: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 992px;
    margin: 0 auto;
    background-color: var(--gray-10);
    padding: 64px 124px;
}

.possibilities__information {
    border-bottom: 2px solid var(--gray-20);
}

.possibilities-block-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 24px;
}

.form-information {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__title {
        @extend %H5;
        color: var(--gray-100);
        font-weight: 500;
    }

    &__text {
        @extend %TXT-S;
        color: var(--gray-80);
        max-width: 369px;
    }
}

.possibilities-survey-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.body-career-page .labeled-input-container {
    padding: 0;
}

.body-career-page .labeled-input-container input {
    padding: 14px 296px 14px 16px;
}

.possibilities__portfolio {
    border-bottom: 2px solid var(--gray-20);
}

.labeled-input-controls {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.castom-file-upload {
    display: none;
}

.download {
    padding: 12px 20px;
    font-size: 16px;
    letter-spacing: 0.32px;
    font-weight: 500;
    color: var(--blue-light);
    @include btnContour();
}

.download:hover {
    color: var(--gray-10);
}

.labeled-input {

    &__text {
        @extend %TXT-XS;
        color: var(--gray-60);
        max-width: 222px;
    }
}

.possibilities__questions {
    border-bottom: 2px solid var(--gray-20);
}

.body-career-page .input-aria {
    padding: 0;
    padding-bottom: 16px;
}

.body-career-page .input-aria textarea {
    padding: 14px 296px 62px 16px;
    white-space: nowrap;
}

.submit-form {
    @extend %TXT-XS;
    padding: 16px 20px 13px 16px;
    background-color: var(--bg-secondary-color);
    border-radius: 4px;

    &__text {
        color: var(--gray-100);
    }

    &__link a {
        color: var(--pink-80);
        @extend %transition;
    }

    &__link a:hover {
        color: var(--pink-100);
    }
}

.block-controls-row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    position: relative;
    right: 260px;
}

.body-career-page .text-required {
    padding-top: 0;
}


