.body-contacts-page .header-wrapper {
    background-color: black;
    background-image: url(../img/contact-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.body-contacts-page header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    background: none;
}

.body-contacts-page .header-nav > li:last-child {
    font-weight: 700;
}

.body-contacts-page .hero__block {
    padding-top: 110px;
    padding-bottom: 272px;
}

.body-contacts-page .section-title {
    color: var(--blue-20);
    padding-bottom: 10px;
}

.body-contacts-page h1 {
    padding-top: 0;
    font-family: var(--font-family-base);
}

@media (max-width:576px) {
    .body-contacts-page .header-wrapper {
        background-image: url(../img/contact-hero-bg-mob.jpg);
    }

    .body-contacts-page .hero__block {
        padding-top: 80px;
        padding-bottom: 82px;
    }
}

.body-contacts-page .contact-row {
    align-items: flex-start;
    bottom: 180px;
}

.body-contacts-page .contact-info__text {
    padding-top: 0;
}

@media (max-width:1402px) {
    .body-contacts-page .contact-row {
        flex-wrap: wrap;
    }
}

@media (max-width:768px) {
    .body-contacts-page .contact-row {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 64px;
        padding-left: 0;
    }
}

@media (max-width:576px) {
    .body-contacts-page .contact > .container {
        padding-left: 0;
        padding-right: 0;
    }

    .body-contacts-page .contact-info {
        max-width: 100%;
    }

    .body-contacts-page .contact-info {
        padding: 40px 16px 40px 16px;
    }

    .body-contacts-page .contact-info__social {
        justify-content: space-around;
    }

    .body-contacts-page .form-block__text {
        display: block;
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 0;
    }

    .body-contacts-page .text-required {
        display: flex;
        align-self: flex-start;
        padding-left: 16px;
    }
}