html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--base-font-size);
    line-height: var(--base-line-heignt);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.wrapper {
    width: 100%;
}

.header {
    background-color: black;
    background-image: url(../img/main-hero-bg.png);
    background-size: cover;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.logo-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.logo__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--gray-20);
}

.logo__description {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--gray-60);
}

nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
}


.header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.header-controls:hover {
    cursor: pointer;
}

%transition {
    transition: all 300ms ease;
}

.nav-item {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--gray-20);
    @extend %transition;
}

.nav-item:hover {
    color: var(--gray-10);
}

.nav-item::after {
    content: "";
    display: block;
    position: relative;
    top: 5px;
    width: 0%;
    background-color: var(--gray-10);
    height: 1px;
    @extend %transition;
}

.nav-item:hover::after {
    width: 100%;
}

.header-controls {
    display: flex;
    flex-direction: row;
    gap: 26px;
    align-items: center;
}

h1 {
    margin: 0;
    padding-top: 157px;
    font-family: var(--font-family-secondary);
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: var(--gray-10);
}

.hero__text {
    padding-top: 24px;
    padding-bottom: 60px;
    font-size: 20px;
    line-height: 28px;
    color: var(--gray-20);
}


@mixin btnBlue() {
    background: var(--blue-light);
    border: none;
    outline: none;
    @extend %transition;

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(95%);
    }
}
.hero-btn {
    @include btnBlue();
    padding: 14px 40px 14px 40px;
}

.btn-blue {
    color: var(--gray-10);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
}

%H1L {
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 82px;
    text-transform: uppercase;
}

%H4 {
    font-weight: 325;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
}

.hero__experience {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 40px;
    justify-content: space-evenly;
    padding-top: 136px;
    padding-bottom: 176px;
}

.experience-items {
    display: flex;
    flex-direction: column;
    color: var(--gray-10);

    &__years {
        @extend %H1L;
        color: var(--gray-10);
        align-self: center
    }

    &__text {
        @extend %H4;
        color: var(--gray-10);
    }
}

.about {
    padding-top: 180px;
    padding-bottom: 180px;
}

.section-title {
    @extend %H4;
    color: var(--blue-90);
    padding-bottom: 24px;
}

.about-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.about__img img {
    height: auto;
    aspect-ratio: auto 947 / 640;

}

%H1-M {
    font-size: 54px;
    font-weight: 700;
    line-height: 60px;
    color: var(--blue-100);
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about__title {
    @extend %H1-M;
}

.about__text {
    color: var(--gray-80);
}

.about__btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
}

@mixin btnContour() {
    background-color: transparent;
    border: 2px solid var(--blue-light);
    @extend %transition;

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(95%);
    }
}

.about-btn__contour {
    @include btnContour();
    padding: 14px 50px 14px 50px;
}

.btn-contour {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--blue-light);
}

.about-btn__blue {
    @include btnBlue();
    padding: 14px 40px 14px 40px;
}

.section-title {
    @extend %H4;
    color: var(--blue-90);
    padding-bottom: 24px;
}

.offers {
    padding-bottom: 180px
}

.offers__title {
    @extend %H1-M;
    padding-bottom: 24px;
}

.offers__text {
    padding-bottom: 64px;
    font-size: var(--font-family-secondary);
    line-height: var(--line-height-secondary);
    color: var(--gray-80);
}

.dev-cycle {
    padding-bottom: 64px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.cycle-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;

    &__title {
        font-size: 26px;
        font-weight: 325;
        line-height: 32px;
        color: var(--blue-dark);
    }

    &__text {
        color: var(--gray-80);
    }
}

.offers-btn-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.offers-btn {
    border: none;
    outline: none;
    background-color: transparent;
}

.btn-all {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: var(--pink-80);
    @extend %transition;
}

.btn-all:hover {
    color: var(--pink-100);
}

.portfolio {
    background-color: var(--bg-secondary-color);
    padding-bottom: 274px;
}

.portfolio-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title--portfolio {
    padding-top: 113px
}

.portfolio__title {
    @extend %H1-M;
    padding-bottom: 24px;
}

.portfolio__text {
    font-size: var(--font-size-secondary);
    line-height: var(--line-height-secondary);
    color: var(--gray-80);
    text-align: center;
}

.portfolio-card-row {
    position: relative;
    bottom: 210px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-card {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__img img {
        width: 100%;
        height: auto;
    }

    &__link a {
        text-decoration: none;
        font-size: 22px;
        line-height: 32px;
        font-weight: 500;
        color: var(--blue-100);
    }

    &__text {
        color: var(--gray-80);
    }
}

.portfolio-card-second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: -170px;
}

.portfolio-btns__contour {
    @include btnContour();
    padding: 14px 50px 14px 50px;
}

.portfolio-btns__blue {
    @include btnBlue();
    padding: 14px 40px 14px 40px;
}

.portfolio-btns {
    position: relative;
    top: -106px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.advantages {
    padding-top: 74px;
    padding-bottom: 180px
}

.advantages__title {
    @extend %H1-M;
    padding-bottom: 24px;
}

.advantages__text {
    font-size: var(--font-size-secondary);
    line-height: var(--line-height-secondary);
    color: var(--gray-80);
}

.advantages-row {
    padding-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__img {
        width: 100%;
        height: auto;
    }

    &__title {
        font-size: var(--font-size-secondary);
        line-height: 32px;
        color: var(--blue-dark);
        font-weight: 500;
    }

    &__text {
        color: var(--gray-80);
    }
}

.clients {
    padding-bottom: 180px
}

.clients-title {
    @extend %H1-M;
    padding-bottom: 64px;
    text-align: center;
}

.clients-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}

.clients-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.contact-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-preview {
    background-image: url(../img/main-contact-bg.jpg);
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 267px;
}

.contact-col__name {
    @extend %H4;
    color: var(--gray-10);
}

.conttact-col__title {
    @extend %H1-M;
    color: var(--gray-10);
}

.contact-row {
    position: relative;
    bottom: 227px;
    background-color: var(--gray-10);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 110px;
}

.contact-info {
    max-width: 578px;
    padding: 64px 40px 51px 40px;
    background-color: var(--blue-dark);
}

.contact-info__text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 26px;
}

.contact-info__title {
    @extend %H4;
    color: var(--gray-20);
}

%TXT-S {
    font-size: 16px;
    font-weight: 325;
    line-height: 22px;
}

%H6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

%H3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

%TXT-XS {
    font-size: 11px;
    line-height: 20px;
}

.contact-info__desc {
    @extend %TXT-S;
    color: var(--gray-20);
    border-bottom: 2px solid var(--gray-80);
    padding-bottom: 24px;
}

.contact-info__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 38px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.slovenia-block {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__title {
        @extend %H6;
        color: var(--gray-20);
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: var(--gray-10);
    }
}

.russia-block {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__title {
        @extend %H6;
        color: var(--gray-20);
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: var(--gray-10);
    }
}

.contact-info__social {
    display: flex;
    flex-direction: row;
    gap: 40px;
    border-top: 2px solid var(--gray-80);
    padding-top: 40px;
}

.contact-info__img svg {
    @extend %transition;
}

.contact-info__img svg:hover {
    transform: scale(115%)
}

.form-block__title {
    @extend %H3;
    color: var(--blue-100);
}

.form-block__text {
    @extend %TXT-S;
    color: var(--gray-80);
    padding-top: 26px;
}

.labeled-input-container {
    position: relative;
    padding-top: 15px;
}

.labeled-input-container input {
    padding: 16px 238px 16px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    @extend %transition;
}

.labeled-input-container input::placeholder {
    @extend %transition;
    font-family: "Montserrat", sans-serif;
    color: var(--gray-80);
}

.labeled-input-container input:focus {
    outline: 1px solid var(--blue-light);
}

.labeled-input-container input:focus::placeholder { 
    font-size: 12px;
    transform: translateY(-12px);
}

.input-aria {
    padding-top: 15px;
}

.input-aria textarea {
    padding: 16px 238px 62px 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    @extend %transition;
}

.input-aria textarea::placeholder {
    font-family: "Montserrat", sans-serif;
    color: var(--gray-80);
    @extend %transition;
}

.input-aria textarea:focus {
    outline: 1px solid var(--blue-light);
}

.input-aria textarea:focus::placeholder { 
    font-size: 12px;
    transform: translateY(-12px);
}

.text-required {
    @extend %TXT-XS;
    color: var(--gray-80);
    padding-top: 16px;
}

.text-required-red {
    color: var(--red-error);
}

.submit-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    gap: 10px;

    &__text {
        @extend %TXT-XS;
        color: var(--gray-60);
    }

    &__link a {
        color: var(--pink-80);
        @extend %transition;
    }

    &__link a:hover {
        color: var(--pink-100);
    }

}

.submit-btn__blue {
    @include btnBlue();
    padding: 14px 50px 14px 50px;
    color: var(--gray-10);
    font-size: 16px;
    letter-spacing: 0.32px;
}
