.body-portfolio-page .header-wrapper {
    background-color: black;
        background-image: url(../img/portfolio-bg-header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}

.body-portfolio-page header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    background: none;
}

.body-portfolio-page .hero__block {
    padding-top: 110px;
    padding-bottom: 166px;
}

.body-portfolio-page h1 {
    padding-top: 0;
    padding-bottom: 16px;
}

.body-portfolio-page .hero__text {
    padding-top: 0;
    padding-bottom: 64px;
    font-size: var(--base-font-size);
}

.portfolio-gallary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 80px;
}

.portfolio-portfolio {
    padding-top: 180px;
    padding-bottom: 100px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    &__img {
        overflow: hidden;
    }

    &__img img {
        width: 100%;
        height: auto;
        aspect-ratio: auto 700 / 800;
        @extend %transition;
    }

    &__img img:hover {
        transform: scale(105%);
    }

    &__link a {
        text-decoration: none;
        color: var(--blue-90);
        font-size: 22px;
        line-height: 32px;
        font-weight: 500;
    }

    &__text {
        @extend %TXT-L;
    }
}