.body-portfolio-page .header-wrapper {
    background-color: black;
        background-image: url(../img/portfolio-bg-header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}

.body-portfolio-page header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    background: none;
}

.body-portfolio-page .hero__block {
    padding-top: 110px;
    padding-bottom: 166px;
}

.body-portfolio-page h1 {
    padding-top: 0;
    padding-bottom: 16px;
}

.body-portfolio-page .hero__text {
    padding-top: 0;
    padding-bottom: 64px;
    font-size: var(--base-font-size);
}

@media (max-width:576px) {
    .body-portfolio-page .hero__block {
        padding-top: 80px;
        padding-bottom: 64px;
    }
}

.portfolio-gallary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 80px;
}

.portfolio-portfolio {
    padding-top: 180px;
    padding-bottom: 100px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    &__img {
        overflow: hidden;
    }

    &__img img {
        width: 100%;
        height: auto;
        aspect-ratio: auto 700 / 800;
        @extend %transition;
    }

    &__img img:hover {
        transform: scale(105%);
    }

    &__link a {
        text-decoration: none;
        color: var(--blue-90);
        @extend %H5;
        font-weight: 500;
    }

    &__text {
        @extend %TXT-L;
    }
}

@media (max-width:1499px) {
    .portfolio-gallary {
        justify-content: center;
    }
}

@media (max-width:576px) {
    .portfolio-portfolio {
        padding-top: 80px;
        padding-bottom: 16px;
    }

    .portfolio-gallary {
        padding-bottom: 64px;
        gap: 64px;
    }

    .portfolio-item {
        align-items: center;
    }
}

.have-idea {
    background-image: url(../img/portfolio-bg-have-idea.jpg);
    background-size: cover;
    padding-top: 243px;
    padding-bottom: 244px;
}

.body-portfolio-page .position-col__title {
    padding-bottom: 24px;
}

.body-portfolio-page .position-col__text {
    @extend %TXT-L;
    color: var(--gray-20);
    padding-bottom: 24px;
}

@media (max-width:576px) {
    .have-idea {
        padding-top: 80px;
        padding-bottom: 64px;
        background-position: center;
    }

    .body-portfolio-page .position-col__name {
        align-self: flex-start;
    }

    .body-portfolio-page .position-col__title {
        align-self: flex-start;
    }

    .body-portfolio-page .position-col__text {
        align-self: flex-start;
    }

    .body-portfolio-page .position-col__title {
        padding-bottom: 16px;
    }

    .body-portfolio-page .position-col__text {
        padding-bottom: 40px;
    }
}