.body-project-page .header-wrapper {
    background-color: black;
    background-image: url(../img/project-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.body-project-page header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    background: none;
}

.body-project-page .hero__block {
    padding-top: 110px;
    padding-bottom: 406px;
}

.body-project-page .section-title {
    color: var(--blue-20);
    padding-bottom: 10px;
}

.body-project-page h1 {
    padding-top: 0;
    font-family: var(--font-family-base);
}

.body-project-page .labeled-input-container {
    padding: 0;
}

.body-project-page .labeled-input-container input {
    padding: 14px 296px 14px 16px;
}

.body-project-page .input-aria {
    padding: 0;
    padding-bottom: 16px;
}

.body-project-page .input-aria textarea {
    padding: 14px 296px 62px 16px;
    white-space: nowrap;
}

.body-project-page .text-required {
    padding-top: 0;
}

@media (max-width:768px) {
    .body-project-page .labeled-input-container input {
        padding-right: 180px;
    }

    .body-project-page .input-aria textarea {
        padding-right: 180px;
    }
}

@media (max-width:667px) {
    .body-project-page .labeled-input-container input {
        padding-right: 120px;
    }

    .body-project-page .input-aria textarea {
        padding-right: 120px;
    }
}

@media (max-width:576px) {
    .body-project-page .block-controls-row {
        align-items: center;
    }
}

@media (max-width:390px) {
    .body-project-page .labeled-input-container input {
        padding-right: 60px;
    }

    .body-project-page .input-aria textarea {
        padding-right: 60px;
    }
}