
    .body-team-page .header-wrapper {
        background-color: black;
        background-image: url(../img/team-hero-bg-jpg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .body-team-page header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding-top: 10px;
        background: none;
    }

    .body-team-page .hero__block {
        padding-top: 110px;
        padding-bottom: 156px;
    }

    .body-team-page .section-title {
        color: var(--blue-20);
        padding-bottom: 10px;
    }

    .body-team-page h1 {
        padding-top: 0;
        padding-bottom: 16px;
    }

    .body-team-page .hero__text {
        padding-bottom: 0;
        padding-top: 0;
        font-size: var(--base-font-size);
    }

    @media (max-width:576px) {
        .body-team-page .hero__block {
            padding-top: 80px;
            padding-bottom: 84px;
        }

        .body-team-page .section-title {
            padding-bottom: 4px;
        }
    }

    .teams {
        padding-top: 180px;
        padding-bottom: 180px;
    }

    .teams-row__one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
        flex-wrap: wrap;
    }

    .teams-row__description {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .teams__title {
        @extend %H1-M;
    }

    .teams__text {
        color: var(--gray-80);
        font-size: var(--font-size-secondary);
        line-height: var(--line-height-secondary);
    }

    .teams__gallary {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        flex: 1 1;
    }

    .teams-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        @extend %transition;

        &__img {
            position: relative;
        }

        &__img::after {
            position: absolute;
            content: url(../img/bx_bxl-linkedin.svg);
            right: 0;
            top: 0;
            width: 32px;
            height: 32px;
            transform: translate(-24px, 24px);
        }

        &__img img {
            width: 100%;
            height: auto;
            aspect-ratio: auto 330/330;
        }

        &__name {
            @extend %H6;
            color: var(--blue-100);
        }

        &__job {
            @extend %TXT-S;
            color: var(--gray-80);
        }
    }

    .teams-card:hover {
        transform: scale(105%);
    }

    .teams-row__second {
        padding-top: 78px;
    }

    .teams-row__second.active {
        display: block;
    }

    .teams-row__third {
        padding-top: 78px;

        .teams__gallary {
            justify-content: flex-start;
            gap: 40px;
        }
    }

    .teams-buttons {
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .teams-buttons.hidden {
        display: none;
    }

    .teams-btn {
        border: 2px solid var(--blue-light);
        padding: 8px 16px;
        background-color: transparent;
        @extend %transition;

        &:hover {
            cursor: pointer;

        }

        &:active {
            transform: scale(95%);
        }
    }

    .teams-btn-all {
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        color: var(--blue-light);
        text-decoration: none;
        text-align: center;
    }

    @media (max-width:1475px) {
        .teams__gallary {
            flex: 0 0 auto;
            width: 100%;
            justify-content: center;
            gap: 40px;
        }

        .teams-row__third .teams__gallary {
            justify-content: center;
        }
    }

    @media (max-width:576px) {
        .teams {
            padding-top: 80px;
            padding-bottom: 88px;
        }

        .teams-row__second {
            display: none;
            padding-top: 40px;
        }

        .teams-row__third {
            padding-top: 40px;
        }

        .teams-card {
            gap: 8px;
        }

        .teams-buttons {
            display: flex;
        }
        
    }

    .open-position {
        background-image: url(../img/team-position-bg.jpg);
        background-size: cover;
        padding-top: 348px;
        padding-bottom: 252px;
    }

    .position-col {
        &__name {
            @extend %H4;
            color: var(--gray-20);
            padding-bottom: 8px;
        }

        &__title {
            @extend %H1-M;
            color: var(--gray-10);
            padding-bottom: 64px;
        }

        &__btn {
            @include btnBlue();
            padding: 14px 40px 14px 40px;
        }
    }

    @media (max-width:576px) {
        .open-position {
            padding-top: 80px;
            padding-bottom: 64px;
            background-image: url(../img/team-position-bg-mobile.jpg);
        }

        .position-col {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .position-col__title {
            text-align: center;
            padding-bottom: 40px;
        }

        .position-col__btn {
            border-radius: 8px;
            padding: 14px 119px 14px 119px;
        }
    }
