body {
    --bg-color: #FFFFFF;
    --bg-secondary-color: #E6E8EF;
    --text-color: #535670;
    --black: #091245;
    --white: #FFF;
    --red-error: #D02F44;
    --red-error-light: #E3828F;
    --blue-light: #1E74EC;
    --blue-dark: #012C88;
    --blue-100: #03115F;
    --blue-90: #35417F;
    --blue-20: #CDCFDF;
    --pink-100: #79077B;
    --pink-80: #A960AB;
    --gray-80: #75788D;
    --gray-60: #989AA9;
    --gray-20: #DDDDE2;
    --gray-10: #EEEFF1;
    --base-font-size: 18px;
    --base-line-heignt: 22px;
    --font-size-secondary: 20px;
    --line-height-secondary:28px;
    --font-family-secondary: 'Inter', sans-serif;
}